.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 140px;
    height: 70px;
    background-color: rgba(7, 1, 34, 0.979);   
}
.heading{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
.list-container{
    display: flex;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

@media screen and (max-width:600px) {
    .nav-container{
        height: 70px;
    }
}